.d-flex { display:flex; }
.relative-container { position:relative; }

#quick-search { display:inline-block; margin-right:15px; }
#quick-filter { font-family: Tahoma, sans-serif; font-size:12px; text-shadow:none; text-align:center; flex-grow:1; }
#quick-filter button { background-color:#3d3d3d; }
