
.fleetscanTotals .column { margin:3px; flex-grow:1; max-width:200px; }
.fleetscanTotals table { border-collapse: collapse; width: 100%; }
.fleetscanTotals .fleetBlockTitle { display:block; text-align:center; }
.fleetscanTotals .fleetBlockScoreContainer { font-size:10px; padding:5px; }
.fleetscanTotals .fleetBlockScoreContainer b { color:#fff; }


.fleet-list table td:last-child { text-align:right; padding-right:10px; }

.score-container { font-size:10px; padding:5px; }
.score-container b { color:#fff; }
