/** The "DG" Font (Actually, the atari font? O_o) */
@font-face {
    font-family: 'DarkGalaxy';
    src: url('/assets/font/dgfont.eot');
    src: url('/assets/font/dgfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/font/dgfont.woff') format('woff'),
    url('/assets/font/dgfont.ttf') format('truetype'),
    url('/assets/font/dgfont.svg#DarkGalaxy') format('svg');
    font-weight: normal;
    font-style: normal;
}


body { width:300px; }
a { color:#4e4e4e; text-decoration:none; }
a:hover { text-decoration:underline; }
h1 { font-size:18px; margin:0; padding:0; }
h2 { margin:0; padding:0; margin-bottom:10px; font-size:16px; line-height:18px; padding:0; margin:0; }

.main-container {  }
.box-container { padding:5px 5px 0; margin-bottom:10px; }
.header {
    font-family: DarkGalaxy, sans-serif;
    font-size: 25px;
    line-height: 25px;
    padding:5px;
    margin:0;
    margin-bottom:5px;
    background-image: url(/assets/res/headback.gif);
    color: #fff;    
    text-align: center;
}
.border {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#game-state { }
#game-state ul { margin:0; padding-left:1.5em; }
#game-state ul li { margin:5px 0; padding:0; }

#options { }

#links {  }
#links h2 { }
#links ul { margin:0; padding:0; list-style:none; }
#links ul li { margin:5px 0; padding:0; }

#title { position:relative; }
#version { position:absolute; bottom:5px; right:5px; font-family: sans-serif; font-size:12px; line-height:12px; }
#changelog { margin-top:5px; text-align: right; text-decoration: underline;}



